.activitiesDiv {
    padding-bottom: 1px;
}

#activitiesTitle {
    text-align: center;
    text-decoration: bold;
    margin-bottom: 20px;
}

#activitiesNavLink:visited {
    color: rgb(172, 31, 31);
}

#activitiesNavLink {
    text-decoration: none;
    padding-left: 7px;
    font-size: 20px;
    
} 

.singleBlock {
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: white;
    padding-left: 10px;
    margin-top: 10px;
    color: red;
    background-color: lightgray;
}