.homeTitle {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    margin-top: 25px;
    color: white;
}
.homeP {
    text-align: center;
    font-size: 40px;
    color: white;
}
.home2p {
    text-align: center;
    font-size: 30px;
    color: white;
}